@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@font-face {
    font-family: "Tetra";
    src: url(fonts/Tetra-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #4353A1;
    background-color: rgb(46, 45, 45);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20vw;
}

a {
    text-decoration: none;
    color: #222;
    margin-bottom: 1px;
}

.image {
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
}

.image img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
    height: auto;
    border-radius: 30px;
}

h1 {
    color: #FFF8EE;
    margin-top: 0;
    font-family: 'Tetra', sans-serif;
    font-size: 75px;
    text-shadow: 5px 0px rgb(173, 171, 171);
    letter-spacing: 5px;
}

h2 {
    color: #FFF8EE;
    font-family: "Tetra", sans-serif;
    font-size: 150px;
    text-shadow: 4px 4px rgb(173, 171, 171);
    text-align: center;
    letter-spacing: 5px;
    margin: 0%;
}

p {
    text-align: center;
    margin-bottom: 10%;
    text-decoration: none;
}

.dark {
    background-color: #293261;
}

.dark2 {
    background-color: #4353A1;
}

.med {
    background-color: #5467C7;
}

.offwhite {
    background-color: #FFF8EE;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave .shape-fill-dark {
    fill:#293261;
}

.wave .shape-fill-dark2 {
    fill:#4353A1;
}

.wave .shape-fill-med {
    fill:#5467C7;
}

.wave .shape-fill-white {
    fill:#FFF8EE;
}

nav {
    background-color: #4353A1;
    color: #fff;
    font-family: 'Tetra', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}

.nav-links {
    list-style: none;
    margin: 10;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: #FFF8EE;
    text-decoration: none;      
    transition: transform 0.3s ease-in-out;
}

.nav-links li a:hover {
    font-size: 0.9em;
}

.projects {
    display: grid;
    gap: 30px;
}

.projects article a:hover {
    transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
    background-color: #7985bf;
}

.projects article {
    display: flex;
    align-items: stretch;
    text-align: center;

}

.projects article a {
    position: relative;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px rgba(40,43,48,.065);
    background-color: #9098c2;
    overflow: hidden;
    margin: 20px;
    color: #fff;
}

.projects article img {
    border-radius: 20px;
}

.projects article a h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 5px;
}

.projects article a p {
    font-size: 18px;
    margin: 0;
}