@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@font-face {
    font-family: "Tetra";
    src: url(fonts/Tetra-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(46, 45, 45);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 400px; */
    padding: 70px 20vw;
}

.image {
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
}

.image img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
    height: auto;
    border-radius: 30px;
}

h1 {
    margin-top: 0;
    font-family: 'Tetra', sans-serif;
    font-size: 75px;
    text-shadow: 3px 0px rgb(173, 171, 171);
}

h2 {
    font-family: "Tetra", sans-serif;
    font-size: 150px;
    text-shadow: 4px 4px rgb(173, 171, 171);
    text-align: center;
    letter-spacing: 5px;
    margin: 0%;
}

h4 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    text-align: left;
    margin-top: 5%;
}

h5 {
    font-size: 25px;
    font-weight: 200;
    margin: 0;
    text-align: left;
}

p {
    text-align: center;
    margin-bottom: 10%;
}

img {
    border-radius: 20px;
}

section a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #5467C7;
    border-radius: 20px;
    padding: 5px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    image-orientation: flip;
    background-color: #293261;
}

.icons > a {
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5%;
    background-color: #293261;
}

.icons > a:hover {
    transform: scale(0.7);
}

.dark {
    background-color: #293261;
}

.dark2 {
    background-color: #4353A1;
}

.med {
    background-color: #5467C7;
}

.offwhite {
    background-color: #FFF8EE;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave .shape-fill-dark {
    fill:#293261;
}

.wave .shape-fill-dark2 {
    fill:#4353A1;
}

.wave .shape-fill-med {
    fill:#5467C7;
}

.wave .shape-fill-white {
    fill:#FFF8EE;
}

nav {
    background-color: #4353A1;
    color: #fff;
    font-family: 'Tetra', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}

.nav-links {
    list-style: none;
    margin: 10;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: #FFF8EE;
    text-decoration: none;      
    transition: transform 0.3s ease-in-out;
}

.nav-links li a:hover {
    font-size: 0.9em;
}

.column-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.column-1 {
    flex: 1;
    float: left;
    width: 50%;
}
  
.column-2 {
    flex: 1;
    float: right;
    width: 50%;
}

.column-2 img {
    width: 100%;
    align-items: center;
    padding: 15px;
}